# Wandb
/wandb/

# jupyter notebook checkpoints
.ipynb_checkpoints

# data files
*.jpg
*.jpeg
*.npy
*.npz
*.csv
*.pth

# dev
temp/
.ruff_cache/

# code coverage
*.gcno
*.gcda
*.gcov
test
.coverage
coverage.xml
/coverage/
.coverage.*

# build
dist/
*/*.egg-info/
*.egg-info/
build/

# tutorials
minimal-example-data/

# pyCharm project files
.idea

#Cached Stuff
*__pycache__/
